In [7]:
import sqlite3
import pandas as pd

In [10]:
db = sqlite3.connect('../accounts.db')

In [12]:

df = pd.read_sql_query("SELECT * FROM accounts", db)
df

     user_id                                           password
0    vnguyen  pbkdf2:sha256:150000$uXoonaaq$8d1ff2858afa0611...
1       brao  pbkdf2:sha256:150000$gUyNJVrA$08e184f066d63359...
2  altruista  pbkdf2:sha256:150000$K7kJZjiZ$26a2078333e67ab1...

In [16]:
## create date limit table
c = db.cursor()
c.execute('''
CREATE TABLE IF NOT EXISTS date_limits (
    date_id PRIMARY KEY AUTOINCREMENT,
    user_id text NOT NULL,
    begin_date text NOT NULL,
    end_date text NOT NULL,
    FOREIGN KEY (user_id) REFERENCES accounts (user_id)
)

''')